body{
    background-image: url(Bg_Space.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    max-width: 900px;
    margin: auto;
}
hr{
    margin: 15px 15px 15px 15px;
}

.container{
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    padding: 10px 10px 5px 10px;
}
.justified{
    justify-content: space-between;
}
.right{
    justify-content: flex-end;
}

.item{
    margin: 10px 10px 10px 10px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: justify;
}
.icon{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
}